<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= __('profile page') %></title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/signup.css" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
</head>

<body>
<!-- Page Content -->
<div class="userEdit" id="userEdit">
    <div class="container">
        <h1><%= __('profile page') %></h1>
        <form method="post">
            <div class="form-row">

                <div class="form-group cancel-padding">
                    <label for="account"><%= __('account') %></label>
                    <input type="text" class="form-control" id="account" name="account" placeholder="<%= __('account placeholder') %>" value="<%= account %>" readonly>
                </div>
                <div class="form-group cancel-padding">
                    <label for="password"><%= __('password') %></label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="<%= __('password placeholder') %>" value="<%= password %>" readonly>
                </div>
                <div class="form-group cancel-padding">
                    <button type="button" @click="openDialog">
                        <%= __('change password') %>
                    </button>
                </div>
            </div>
            <div class="form-group">
                <label for="name"><%= __('name') %></label>
                <input type="text" class="form-control" id="name" name="name" placeholder="<%= __('name placeholder') %>" value="<%= name %>">
            </div>
            <div class="form-group">
                <label for="birthday"><%= __('birthday') %></label>
                <input type="text" class="form-control" id="birthday" name="birthday" placeholder="1990/10/10" value="<%= birthday %>">
            </div>
            <div class="form-group">
                <label for="tel1"><%= __('tel1') %></label>
                <input type="text" class="form-control" id="tel1" name="tel1" placeholder="<%= __('tel placeholder') %>" value="<%= tel1 %>">
            </div>
            <div class="form-group">
                <label for="tel2"><%= __('tel2') %></label>
                <input type="text" class="form-control" id="tel2" name="tel2" placeholder="<%= __('tel placeholder') %>" value="<%= tel2 %>">
            </div>
            <button type="button" class="btn btn-primary" @click="update"><%= __('save') %></button>
        </form>
    </div>

    <div id="dialog" title="<%= __('change password') %>">
        <div class="form-group cancel-padding">
            <label for="passwordOld"><%= __('old password') %></label><span v-show="check" style="color: red">({{ message }})</span>
            <input type="password" class="form-control" id="passwordOld" name="passwordOld" placeholder="<%= __('password placeholder') %>" @change="checkPassword">
        </div>
        <div class="form-group cancel-padding">
            <label for="passwordNew"><%= __('new password') %></label>
            <input type="password" class="form-control" id="passwordNew" name="passwordNew" placeholder="<%= __('password placeholder') %>" v-model="newPassword">
        </div>
        <div class="form-group cancel-padding">
            <label for="passwordConfirm"><%= __('confirm password') %></label>
            <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" placeholder="<%= __('password placeholder') %>" v-model="confirmPassword">
        </div>
        <button type="button" class="btn btn-primary" @click="changePassword"><%= __('update') %></button>
    </div>
</div>


<!-- /.container -->
<script src="https://unpkg.com/vue@2.3.4/dist/vue.min.js"></script>
<script src="/javascripts/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="/javascripts/userEdit.js"></script>


</body>

</html>